.addForm{
    margin: 2%;
    border: 2px solid black;
    background-color: white;
}
.addForm h1, form{
    margin: 2%;
}

form label, input{
    display: inline-block;
}

form label {
    width: 25%;
}
form input{
    width: 50%;
}
.subBtn {
    margin-left: 50%;
    width: 200px;
}

.alert{
    width: 80%;
}
